<!DOCTYPE html>
<html lang="en">
<head>
<title>Goldgamer.de</title>
</head>
<body>
<h1>Hi, my name is Max Vincent Goldgamer!</h1>
<h2>Here is my Playground project called Server Steward:</h2>
<A href="https://<%=STWurl%>" >Server Steward</A>
<div style="position: absolute; bottom: 0; background: #cccccc;">
    <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="7Ti2HamS" data-limit="5" data-color="29B127"></script>
</div>
</body>
</html>