<!DOCTYPE html>
<html lang="en">
<head>
<title>Goldgamer.de</title>
</head>
<body>
<h1>Hi, my name is Max Vincent Goldgamer!</h1>
<h2>Here is my Playground project called Server Steward:</h2>
<A href="https://<%=STWurl%>" >Server Steward</A>
</body>
</html>