<!DOCTYPE html>
<html lang="en">
<head>
    <title>SW Login successful</title>
</head>
<body>
<h1>Welcome <%=realname%></h1>
<br>
<br>
<a href="/">Homepage</a>
<script>
    window.history.pushState("", "", '/login');
</script>
</body>

</html>