<!DOCTYPE html>
<html lang="en">
<head>
    <title>Steward login</title>
    <meta name="appleid-signin-client-id" content="de.Goldgamer.Website.steward">
    <meta name="appleid-signin-scope" content="name email">
    <meta name="appleid-signin-redirect-uri" content="https://steward.goldgamer.de/siwa_auth">
    <meta name="appleid-signin-state" content="[STATE]">
    <style>
        .signin-button {
            width: 210px;
            height: 40px;
        }
    </style>
</head>
<h1>Please login to continue!</h1>
<div id="appleid-signin" class="signin-button" data-color="black" data-border="true" data-type="sign in"></div>
<script src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
<br>
<a href= "<%=gentlentAuthLink%>" ><img src="https://s1.gentcdn.com/images/assets/signin-with_black.svg" alt="Bild" width="210"/></a>
<br>
<br>
<script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="server_steward_bot" data-size="large" data-radius="5" data-auth-url="https://steward.goldgamer.de/login-tg"></script>
</body>
</html>