<!DOCTYPE html>
<html lang="en">
<head>
    <title>Whois request</title>
</head>
<body>
<div class="form-header">
    <h2>Please type in a Domain!</h2>
</div>
<form method="post" action="/whois" novalidate>
    <div class="form-field">
        <label for="domain">Domain:</label>
        <input class="input" id="domain" name="domain" type="text" value="" />
    </div>
    <div class="form-actions">
        <button class="btn" type="submit">Send</button>
    </div>
</form>
</body>
</html>